.main-page-content {
  padding: 2% 5%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.4em;
}

.post-content {
  padding: 2% 5%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}

.article-content {
  padding: 2% 2%;
}

.recent-posts-title {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.35em;
}

.recent-posts {
  margin-bottom: 2em;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.20em;
}

.post-teaser {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  padding: 2% 10%;
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
  /*background-size: $feature-image-size;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post-teaser p {
  text-indent: 15px;
}

.post-teaser li {
  text-indent: 15px;
}

.my-post-teaser {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  padding: 2% 10%;
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
  /*background-size: $feature-image-size;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.excerpt {
  margin-top: 1em;
}

.feature-image {
  padding: 0%;
  .post-link {
    color: #fff;
  }
  header {
    color: #fff;
    /*background-size: cover;*/
    margin-bottom: 0;
    padding: 20/2.5 20;
    .meta {
      color: rgba(#fff, .7);
    }
  }
  .post-content {
    padding: 5% 20%;
  }
}

.button {
  border-radius: 0.3em;
  border: 1px solid;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 0.75em;
}
a.button:hover {
  background: #5291AA;
  color: #f2f2f2;
  text-decoration: none;
}

/*header image*/
.homeImageLink {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  top: -7%;
  left: 0%;
  text-align: center;
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80px;
  line-height: 1.6;
  color: #E0F0F7;
  text-shadow: -1px 0 #0E006A, 0 1px #0E006A, 1px 0 #0E006A, 0 -1px #0E006A;
}

/*.homeImageLink span {
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 45px;
  line-height: 1.6;
  color: #f5f5f5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
}*/

.img-container {
  position:relative;
}

/*markdown epigraph*/
.post-epigraph{
     text-align: right;
}


/*Article header truncation for post classification*/
. article-series-header {
  float: left;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
