.main-page-content {
  padding: 2% 5%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.4em;
}

.post-content {
  padding: 2% 5%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}

.article-content {
  padding: 2% 2%;
}

.recent-posts-title {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.35em;
}

.recent-posts {
  margin-bottom: 2em;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.20em;
}

.post-teaser {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  padding: 2% 10%;
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
  /*background-size: $feature-image-size;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post-teaser p {
  text-indent: 15px;
}

.post-teaser li {
  text-indent: 15px;
}

.my-post-teaser {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  padding: 2% 10%;
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
  /*background-size: $feature-image-size;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.excerpt {
  margin-top: 1em;
}

.feature-image {
  padding: 0%;
  .post-link {
    color: #fff;
  }
  header {
    color: #fff;
    /*background-size: cover;*/
    margin-bottom: 0;
    padding: 20/2.5 20;
    .meta {
      color: rgba(#fff, .7);
    }
  }
  .post-content {
    padding: 5% 20%;
  }
}

/*header image*/
.homeImageLink {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  top: -7%;
  left: 0%;
  text-align: center;
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80px;
  line-height: 1.6;
  color: #E0F0F7;
  text-shadow: -1px 0 #0E006A, 0 1px #0E006A, 1px 0 #0E006A, 0 -1px #0E006A;
}

.img-container {
  position:relative;
}

/*markdown epigraph*/
.post-epigraph{
     text-align: right;
}

/*table*/
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}

body {
    margin: 0;
    background: url("../images/background.png") repeat;
}

.meta {
    color: rgba(20, 20, 20, 0.75);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}
