---
layout: page
description: List of articles and posts by tags.
---

{% assign section_name = "Методичні орієнтири" %}
{% assign first_subsection = "Виступ" %}
{% assign second_subsection = "Майстер-клас" %}

<!-- Posts by Tag -->
<div class="post-teaser">
    <h2 >{{ section_name }}</h2>

    <!-- Виступ -->
    <h3>Виступ</h3>
    {% for post in site.tags[section_name] %}{% if post.title != null %}
      {% if post.tags contains first_subsection %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
            <div class="col-sm-2">
              {{ post.date |  date: "%d.%m.%Y" }}
            </div>
          </div>
          <!-- <div style="clear: both;"></div> -->
        </div>
      {% endif %}
    {% endif %}{% endfor %}

    <!-- Майстер-клас -->
    <h3>Майтер-клас</h3>
    {% for post in site.tags[section_name] %}{% if post.title != null %}
      {% if post.tags contains second_subsection %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
            <div class="col-sm-2">
              {{ post.date |  date: "%d.%m.%Y" }}
            </div>
          </div>
          <!-- <div style="clear: both;"></div> -->
        </div>
      {% endif %}
    {% endif %}{% endfor %}
</div>
