---
layout: page
description: List of articles and posts by tags.
---

<!-- Posts by Tag -->
<div class="post-teaser">
    <h2 >Методичні орієнтири</h2>

    <!-- Виступ -->
    <h3>Виступ</h3>
    {% for post in site.tags["Методичні орієнтири"] %}{% if post.title != null %}
      {% if post.tags contains "Виступ" %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
            <div class="col-sm-2">
              {{ post.date | date_to_string }}
            </div>
          </div>
          <!-- <div style="clear: both;"></div> -->
        </div>
      {% endif %}
    {% endif %}{% endfor %}

    <!-- Майстер-клас -->
    <h3>Майтер-клас</h3>
    {% for post in site.tags["Методичні орієнтири"] %}{% if post.title != null %}
      {% if post.tags contains "Майстер-клас" %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
            <div class="col-sm-2">
              {{ post.date | date_to_string }}
            </div>
          </div>
          <!-- <div style="clear: both;"></div> -->
        </div>
      {% endif %}
    {% endif %}{% endfor %}
</div>
