
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
  {% if site.author %}
    <meta name="author" content="{{ site.author }}">
  {% endif %}
  {% capture description %}{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{%else%}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {%else%}
    <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}

  <script src="{{ site.baseurl }}/js/bootstrap.min.js" charset="utf-8"></script>
  <link href="{{ site.baseurl }}/css/bootstrap.min.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
</head>
