<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- entry without subcategory -->
        <li class="active"><a href="http://www.google.com">google test<span class="sr-only">(current)</span></a></li>


        <!-- entry with subcategory -->
        {% for nav in site.data.nav %} {% if nav.subcategories != null %}
        <li class="dropdown">
          <a href="{{ site.baseurl }}{{ nav.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.title }}<span class="caret"></span></a>
          <!-- menu values -->
          <ul class="dropdown-menu">
            {% for subcategory in nav.subcategories %}
            <li><a href="{{ site.baseurl }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% elsif nav.external-subcategories != null %}
        <li class="dropdown">
          <a href="{{ site.url }}{{ nav.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.title }}<span class="caret"></span></a>
          <!-- menu values -->
          <ul class="dropdown-menu">
            {% for subcategory in nav.external-subcategories  %}
            <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% elsif nav.title == page.title %}
        <li class="active"><a href="{{ nav.href }}">{{ nav.title }}<span class="sr-only">(current)</span></a></li>
        {% else %} {% if nav.href %}
        <li class="active"><a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}<span class="sr-only">(current)</span></a></li>
        {% elsif nav.external %}
        <li class="active"><a href="{{ nav.external }}">{{ nav.title }}<span class="sr-only">(current)</span></a></li>
        {% endif %} {% endif %} {% endfor %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
