---
layout: page
title: blog
permalink: /blog/
---

<div>

  <ul>
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>

<!-- <div class="posts">
  {% for post in site.posts %}
  <div class="post-teaser">

    <header>
      <h1>
          <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h1>

      <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
    </header>
  </div>
  {% endfor %}
</div> -->
